extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    input.form-control(type="text" name="newitem" id="newitem")
    button.btn.btn-success#newbutt Create
  ul#sortable
    each item, index in items
      li.ui-state-default.item(data-item="#{index}")
        span
        | #{item}
        span.removeitem.glyphicon.glyphicon-remove
  .dragarea
    #draggable(style="top:#{draggable.top};left:#{draggable.left};") Drag Me!
