extends layout

block content
  h1= title
  p Welcome to #{title}
  form(type="post" role="form" id="submitnew")
    input.form-control(type="text" name="newitem" id="newitem")
    input(type="submit" class="btn btn-success" value="Create")
  ul#sortable
    each item, index in items
      li.ui-state-default.item(data-item="#{index}")
        span
        | #{item}
        span.removeitem.glyphicon.glyphicon-remove
  .dragarea
    #draggable(style="top:#{draggable.top};left:#{draggable.left};") Drag Me!
