extends layout

block content
  .row
    .col-lg-4
      h1 Room: #{uuid}
      h5 User count: 
        span#usercount
      form(type="post" role="form" id="submitnew")
        .form-group.ingroup
          input.form-control(type="text" name="newitem" id="newitem")
          input(type="submit" class="btn btn-success newbutt" value="Create")
      ul#sortable(data-uuid=uuid)
        each item, index in items
          li.ui-state-default.item(data-item="#{index}")
            span.itemtext #{item}
            span.removeitem.glyphicon.glyphicon-remove
      .dragarea
        #draggable(style="top:#{draggable.top};left:#{draggable.left};") Drag Me!